@model IEnumerable<QLDP_02.Models.getXuatNhapKho_Result>

@{
    ViewBag.Title = "Nhập kho";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">Xuất kho</h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalThemMoiSanPham">
                        <i class="me-1 fa-regular fa-square-plus"></i>
                        Thêm mới
                    </a>
                    <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalThemMoiSanPham">
                        <i class="me-1 fa-regular fa-trash-can"></i>
                        Xóa
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</header>

<!-- Main page content-->
<div class="container-fluid px-4">
    <div class="card">
        <div class="card-body">
            <table id="tableXUatKho" class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ngày Xuất Kho</th>
                        <th>Mã phiếu</th>
                        <th>Kho xuất</th>
                        <th>Họ tên người xuất kho</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal ThemMoiSanPham -->
<div class="modal fade" id="modalThemMoiSanPham" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticThemMoiSanPham" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen p-1" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-success">
                <h5 class="modal-title" id="staticThemMoiSanPham">Thêm mới Xuất kho</h5>                   
                <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal"><i class="me-1 fa-solid fa-arrow-left"></i>Quay lại</button>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-3">
                    <div class="col-lg-3">
                        <label class="fw-500 required">Mã phiếu:</label>
                        <input type="text" class="form-control" required id="MaXuatNhapKho" />
                        <input type="text" class="" required id="XuatNhapKho" />
                    </div>
                    <div class="col-lg-3">
                        <label class="fw-500 required">Phiếu đề nghị đồng phục:</label>
                        <input type="text" class="form-control" required id="MaXuatNhapKho" />
                    </div>
                    <div class="col-lg-3">
                        <label class="fw-500 required">Kho Xuất:</label>
                        <input type="text" class="form-control" required id="MaXuatNhapKho" />
                    </div>
                    <div class="col-lg-3">
                        <label class="fw-500">Ngày xuất:</label>
                        <input type="text" class="form-control" required id="MaXuatNhapKho" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-lg-12">
                        <label class="fw-500">Ghi chú:</label>
                        <input type="text" class="form-control" required id="MaXuatNhapKho" />
                    </div>
                </div>
                <div class="modal-header alert">
                    <h5>Danh sách sản phẩm</h5>
                    <button class="btn btn-success" type="button" onclick="themMoiSanPham()"><i class="fa-solid fa-plus me-1"></i>Thêm mới</button>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>STT</th>
                                <th>Sản phẩm</th>
                                <th>Tính chất</th>
                                <th>Size</th>
                                <th>SL yêu cầu</th>
                                <th>SL xuất trong đợt</th>
                                <th>SL đã xuất</th>
                                <th>Nhà cung cấp</th>
                                <th>Đơn vị tính</th>
                                <th>Tồn kho</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal SuaSanPham -->
<div class="modal fade" id="modalSuaSanPham" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticSuaSanPham" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticSuaSanPham">Sửa Sản phẩm</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-3">
                    <div class="col-lg-6">
                        <label class="fw-500 required">Tên sản phẩm:</label>
                        <input type="text" class="form-control" required id="id_TenSanPham" />
                    </div>
                    <div class="col-lg-3">
                        <label class="fw-500 required">Loại sản phẩm:</label>
                    </div>
                    <div class="col-lg-3">
                        <label class="fw-500 required">Đơn vị tính:</label>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-lg-3">
                        <label class="fw-500">Sản phẩm liên kết:</label>
                        <div type="dxSelectBox" class="form-div" id="id_SanPhamLienKet"></div>
                    </div>
                    <div class="col-lg-3">
                        <label class="fw-500">Giới tính:</label>
                    </div>
                    <div class="col-lg-6">
                        <label class="fw-500">Quy cách:</label>
                        <input type="text" class="form-control" id="id_QuyCachDoi" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="button" onclick="">Xác nhận</button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal XoaSanPham -->
<div class="modal fade" id="modalXoaSanPham" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticXoaSanPham" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticXoaSanPham">Xoá Sản phẩm</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa-solid fa-triangle-exclamation fa-beat fa-4x"></i>
                    <br />
                    <p class="fw-bolder">Cảnh báo</p>
                    <p>Bạn có chắc Xóa sản phẩm: <span class="text-danger fw-bolder"></span> không?</p>
                </div>

                <div class="modal-footer justify-content-center">
                    <button class="btn btn-danger" type="button" onclick="">Xoá</button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>