

@{
    ViewBag.Title = "Nhập kho";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">Xuất kho</h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-outline-success"onclick="ThemXuatKho()">
                        <i class="me-1 fa-regular fa-square-plus"></i>
                        Thêm mới
                    </a>
                    <a class="btn btn-outline-danger" >
                        <i class="me-1 fa-regular fa-trash-can"></i>
                        Xóa
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</header>

<!-- Main page content-->
<div class="container-fluid px-4">
    <div class="card">
        <div class="card-body">
            <table id="tableXuatKho" class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>STT</th>
                        <th>Ngày Xuất Kho</th>
                        <th>Mã phiếu</th>
                        <th>Kho xuất</th>
                        <th>Họ tên người xuất kho</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal ThemMoiSanPham -->
<div class="modal fade" id="modalThemMoiSanPham">
    <div class="modal-dialog modal-fullscreen p-1" >
        <div class="modal-content">
            <div class="modal-header alert alert-success">
                <h5 class="modal-title" id="staticThemMoiSanPham">Thêm mới Xuất kho</h5>                   
                <button class="btn btn-outline-primary" type="button" onclick="quayLai()"><i class="me-1 fa-solid fa-arrow-left"></i>Quay lại</button>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-3">
                    <div class="col-lg-3">
                        <label class="fw-500 required">Mã phiếu:</label>
                        <input type="text" class="form-control" disabled required id="MaXuatNhapKho" />
                        <input type="text" class="" required id="XuatNhapKho" />
                    </div>
                    <div class="col-lg-3">
                        <label class="fw-500 required">Phiếu đề nghị đồng phục:</label>
                        <select class="form-control" id="phieuDeNghi" onchange="changeSelectPhieuNhap()">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label class="fw-500 required">Kho Xuất:</label>
                        <select class="form-control" id="khoXuat">
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label class="fw-500">Ngày xuất:</label>
                        <input type="date" class="form-control" required id="NgayXuat" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-lg-12">
                        <label class="fw-500">Ghi chú:</label>
                        <input type="text" class="form-control" required id="GhiChu" />
                    </div>
                </div>
                <div class="modal-header alert">
                    <h5>Danh sách sản phẩm</h5>
                    <button class="btn btn-success" type="button" onclick="themMoiSanPham()"><i class="fa-solid fa-plus me-1"></i>Thêm mới</button>
                </div>
                <div>
                    <table id="tableDanhSachSanPham" class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>STT</th>
                                <th>Sản phẩm</th>
                                <th>Tính chất</th>
                                <th>Size</th>
                                <th>SL yêu cầu</th>
                                <th>SL xuất trong đợt</th>
                                <th>SL đã xuất</th>
                                <th>Nhà cung cấp</th>
                                <th>Đơn vị tính</th>
                                <th>Tồn kho</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal chọn sản phẩm -->
<div class="modal fade" id="chonSanPham">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title" id="staticSuaSanPham">Nhà cung cấp</h5>
                    <select class="form-control" id="nhaCungCap" onchange="changeSelectNhaCungCap()">
                    </select>

                </div>
                <div>
                    <button class="btn btn-outline-secondary" onclick="QLSanPham()"><i class="fa-solid fa-arrow-left me-1"></i>Quay lại</button>
                    <button class="btn btn-outline-success"><i class="fa-regular fa-floppy-disk me-1"></i>Chọn</button>
                </div>
            </div>
            
            <div class="modal-body">
                <div class="form-group row mb-3">
                    <table id="tableChonSanPham" class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>STT</th>
                                <th>Sản phẩm</th>
                                <th>Tính chất</th>
                                <th>Size</th>
                                <th>SL yêu cầu</th>
                                <th>Số lượng</th>
                                <th>SL đã xuất</th>
                                <th>Nhà cung cấp</th>
                                <th>Đơn vị tính</th>
                                <th>Tồn kho</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const changeSelectNhaCungCap = () => {
        let PhieuDeNghi = +$("#phieuDeNghi").val()
        let Ncc = +$("#nhaCungCap").val()
        $.ajax({
            url: "/NS_DP_XuatNhapKho/XuatKho_GetDanhSachSanPhamDeNghi",
            type: "post",
            data: {
                phieuDeNghi: +PhieuDeNghi,
                nhaCungCap: +Ncc
            },
            success: function (response) {
                console.log(response)
                let content = ''
                response.item.forEach((item) => {
                    content += `
                    <tr>
                      <td><input type="checkbox"/></td>
                      <td>${item.stt}</td>
                      <td>${item.TenSanPham}</td>
                      <td>${item.TenTinhChatDongPhuc}</td>
                      <td>${item.MaSize}</td>
                      <td>${item.SoLuongYeuCau}</td>
                      <td>${item.SoLuong}</td>
                      <td>${item.soLuongDaXuat}</td>
                      <td>${item.TenNhaCungCap}</td>
                      <td>${item.TenDonViTinh}</td>
                      <td>${item.tonKho}</td>
                     </tr>
                    `
                })
                $("#tableChonSanPham tbody tr").remove()
                $("#tableChonSanPham tbody").append(content)
            }
        })
    
    }
    const changeSelectPhieuNhap = () => {
        let PhieuDeNghi = $("#phieuDeNghi").val()
        console.log(PhieuDeNghi)
        
    }
    const renderSelectPhieuDeNghiBoPhan = () => {
        $.ajax({
            url: "/NS_DP_XuatNhapKho/XuatKho_RenderSelectPhieuDeNghiBoPhan",
            type: "post",
            success: function (response) {
                let content = `<option value="0">Chọn phiếu đề nghị</option>`
                response.result.forEach((item) => {
                    content += `<option value="${item.PhieuDeNghi}">${item.MaPhieuDeNghi}</option>`
                })
                $("#phieuDeNghi").html(content)
            }
        })
    }
    const renderSelectKho = () => {
        $.ajax({
            url: "/NS_DP_XuatNhapKho/XuatKho_RenderSelectKho",
            type: "post",
            success: function (response) {
                let content = ``
                response.result.forEach((item) => {
                    content += `<option value="${item.Kho}">${item.TenKho}</option>`
                })
                $("#khoXuat").html(content)
            }
        })
    }
    const renderSelectNCC = () => {
        $.ajax({
            url: "/NS_DP_XuatNhapKho/XuatKho_RenderNhaCungCap",
            type: "post",
            success: function (response) {
                console.log(response)
                let content = ``
                response.result.forEach((item) => {
                    content += `<option value="${item.NhaCungCap}">${item.TenNhaCungCap}</option>`
                })
                $("#nhaCungCap").html(content)
            }
        })
    }
    renderSelectKho()
    renderSelectPhieuDeNghiBoPhan()
    renderSelectNCC()
    const ThemXuatKho = () => {
        var today = new Date().toISOString().slice(0, 10);
        document.getElementById("NgayXuat").value = today;
        $('#modalThemMoiSanPham').modal('show')
    }
    function QLSanPham() {
        $('#chonSanPham').modal('hide')
    }
    const quayLai = () => {
        $('body').removeClass('modal-open')
        $('.modal-backdrop').remove()
        $('#modalThemMoiSanPham').modal('hide')
    }   
    const themMoiSanPham = () => {
        let PhieuDeNghi = +$("#phieuDeNghi").val()
        let Ncc = +$("#nhaCungCap").val()
        console.log(PhieuDeNghi,+Ncc)
        $('#chonSanPham').modal('show')

        if (PhieuDeNghi == 0) {
            Toast.fire({
                icon: "error",
                title: "Chưa chọn phiếu đề nghị"
            })
            return  
        }
        $.ajax({
            url: "/NS_DP_XuatNhapKho/XuatKho_GetDanhSachSanPhamDeNghi",
            type:"post",
            data: {
                phieuDeNghi: +PhieuDeNghi,
                nhaCungCap: +Ncc
            },
            success: function (response) {
                console.log(response)
                let content = ''
                response.item.forEach((item) => {
                    content += `
                    <tr>
                      <td><input type="checkbox"/></td>
                      <td>${item.stt}</td>
                      <td>${item.TenSanPham}</td>
                      <td>${item.TenTinhChatDongPhuc}</td>
                      <td>${item.MaSize}</td>
                      <td>${item.SoLuongYeuCau}</td>
                      <td>${item.SoLuong}</td>
                      <td>${item.soLuongDaXuat}</td>
                      <td>${item.TenNhaCungCap}</td>
                      <td>${item.TenDonViTinh}</td>
                      <td>${item.tonKho}</td>
                     </tr>
                    `
                })
                $("#tableChonSanPham tbody tr").remove()
                $("#tableChonSanPham tbody").append(content)
            }
        })

    }
</script>